<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="gradoForm">
      <div class="form-group">
        <label for="dateOfBirth">Grado</label>
        <div class="input-group">
  
          <input id="dateOfBirth" class="form-control" placeholder="Grado" name="dp" formControlName="nom_grado">
  
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth2">Descripcion</label>
        <div class="input-group">
  
          <input id="dateOfBirth2" class="form-control" placeholder="Descripción" name="dp" formControlName="desc_grado">
  
        </div>
      </div>

      <div class="form-group">
        <label for="ubigeo_depto_id" class="col-form-label label text-right required">Nivel</label>
        <div class="input-group">
  
                <select formControlName="nivel_id" placeholder="Nivelff" size="small" fullWidth
                name="nivel_id" id="nivel_id"> 
                  <option *ngFor="let item of niveles" [value]="item.id">
                      {{item.nom_nivel}}
                  </option>
                </select>
              
  
        </div>
      </div>


    </form>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="save()" [disabled]="gradoForm.invalid">Guardar</button>
    </div>
  </div>
  
  

