<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="gradoForm">
      <div class="form-group">
        <label for="dateOfBirth">Grado</label>
        <div class="input-group">
  
          <input id="dateOfBirth" class="form-control" placeholder="Grado" name="dp" formControlName="nom_grado">
  
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth2">Descripcion</label>
        <div class="input-group">
  
          <input id="dateOfBirth2" class="form-control" placeholder="Descripción" name="dp" formControlName="desc_grado">
  
        </div>
      </div>


      <div class="container">
        <div class="row">
          <div class="col-md-6">

            <div class="form-group">
              <label for="dateOfBirth2">Nivel</label>
              
        
                      <select formControlName="nivel_id" placeholder="Nivel" size="small" fullWidth aria-placeholder="Nivel"
                      name="nivel_id" > 
                        <option *ngFor="let item of niveles" [value]="item.id">
                            {{item.nom_nivel}}
                        </option>
                      </select>
                    
        
              
            </div>

          </div>

        </div>
      </div>




      


    </form>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="save()" [disabled]="gradoForm.invalid">Guardar</button>
    </div>
  </div>
  
  

