<ngb-panel class="modal-header">

   <br>
   
    <h2>Lista de grados</h2>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Grado</th>
              
             
            </tr>
            </thead>
            <tbody>
              
            <tr *ngFor="let n of grados">
              <th scope="row">{{n.id}}</th>
              <td>{{n.nom_grado}}</td>
              
              
            </tr>
        
            </tbody>
          </table>

    </div>

</ngb-panel>




